@import './respond';

@mixin container($smallTop, $smallBot, $largeTop, $largeBot) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;

  &::before {
    content: '';
    height: $smallTop;

    @include respond-to('regular') {
      height: $largeTop;
    }
  }

  &::after {
    content: '';
    height: $smallBot;

    @include respond-to('regular') {
      height: $largeBot;
    }
  }
}

@mixin stage($sw, $mw, $lw, $debug: false) {
  width: $sw;
  flex-grow: 1;
  min-height: 460px;
  position: relative;
  border: if($debug, 1px solid rgba(0, 0, 0, 0.1), none);

  @include respond-to('regular') {
    width: $mw;
    min-height: 760px;
  }

  @include respond-to('medium') {
    width: $lw;
  }
}

@mixin text {
  position: relative;
  width: 100%;

  & p {
    position: relative;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    opacity: 0.8;
    font-size: 14px;
    line-height: 30px;
    top: 8px;

    @include respond-to('regular') {
      font-size: 24px;
      line-height: 50px;
      top: 13px;
    }
  }
}
