@import '../util/respond';

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
}

.stage {
  width: 360px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 80px;
  border: 1px solid;

  @include respond-to('regular') {
    width: 678px;
    margin-top: 130px;
    margin-bottom: 100px;
  }

  @include respond-to('medium') {
    width: 1200px;
  }
}

.title {
  z-index: 200;
  line-height: 1;
  font-size: 42px;

  @include respond-to('regular') {
    font-size: 70px;
  }

  @include respond-to('medium') {
    font-size: 85px;
  }
}

.under-line {
  z-index: 100;
  height: 52px;
  width: 290px;
  border-bottom: 1px solid black;
  background-color: white;

  @include respond-to('regular') {
    height: 90px;
    width: 450px;
  }

  @include respond-to('medium') {
    height: 105px;
    width: 587px;
  }
}

.sub-title {
  padding-top: 62px;
  font-size: 22px;

  @include respond-to('regular') {
    padding-top: 110px;
    font-size: 35px;
  }

  @include respond-to('medium') {
    padding-top: 125px;
    font-size: 45px;
  }
}
