@import '../util/respond';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;

  &::before {
    content: '';
    height: 100px;

    @include respond-to('regular') {
      height: 130px;
    }
  }

  &::after {
    content: '';
    height: 80px;

    @include respond-to('regular') {
      height: 100px;
    }
  }
}

.stage {
  width: 360px;
  flex-grow: 1;
  min-height: 460px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);

  @include respond-to('regular') {
    width: 678px;
    min-height: 760px;
  }

  @include respond-to('medium') {
    width: 1200px;
  }
}

.title {
  z-index: 200;
  line-height: 1;
  font-size: 42px;

  @include respond-to('regular') {
    font-size: 70px;
  }

  @include respond-to('medium') {
    font-size: 85px;
  }
}

.under-line {
  z-index: 100;
  height: 52px;
  width: 290px;
  border-bottom: 1px solid black;
  background-color: white;

  @include respond-to('regular') {
    height: 90px;
    width: 485px;
  }

  @include respond-to('medium') {
    height: 105px;
    width: 587px;
  }
}

.sub-title {
  padding-top: 62px;
  font-size: 22px;

  @include respond-to('regular') {
    padding-top: 110px;
    font-size: 35px;
  }

  @include respond-to('medium') {
    padding-top: 125px;
    font-size: 45px;
  }
}

.lion {
  width: 320px;

  @include respond-to('regular') {
    width: 678px;
  }

  @include respond-to('medium') {
    width: 791px;
  }
}

.scroll {
  width: 36.5px;

  @include respond-to('regular') {
    width: 73px;
  }
}
