@import '../util/sequence';

.container {
  @include container(100px, 80px, 130px, 100px);
}

.stage {
  @include stage(320px, 678px, 1280px);
}

.svg {
  width: 280px;
  padding-bottom: 244px;

  @include respond-to('regular') {
    width: 476px;
    padding-bottom: 344px;
  }

  @include respond-to('medium') {
    width: 560px;
    padding-bottom: 244px;
  }
}

.text {
  @include text;
}
