@import '../util/sequence';

.container {
  @include container(100px, 80px, 130px, 100px);
}

.stage {
  @include stage(320px, 678px, 1280px);
}

.fox {
  width: 230px;
  padding-bottom: 154px;

  @include respond-to('regular') {
    width: 391px;
    padding-bottom: 194px;
  }

  @include respond-to('medium') {
    width: 460px;
    padding-bottom: 194px;
  }
}

.text {
  @include text;
}
