@import '../util/sequence';

.container {
  @include container(100px, 80px, 130px, 100px);
}

.stage {
  @include stage(320px, 678px, 1280px);
}

.fox-turtle {
  width: 191.5px;
  padding-bottom: 244px;

  @include respond-to('regular') {
    width: 325px;
    padding-bottom: 344px;
  }

  @include respond-to('medium') {
    width: 383px;
    padding-bottom: 244px;
  }
}

.text {
  @include text;
}
