@import '../util/sequence';

.container {
  @include container(100px, 80px, 130px, 100px);
}

.stage {
  @include stage(360px, 678px, 1200px);
}

.title {
  z-index: 200;
  width: 100%;
  height: 42px;

  @include respond-to('regular') {
    height: 70px;
  }

  @include respond-to('medium') {
    height: 85px;
  }

  & img {
    display: block;
    margin: 0px auto;
    height: 100%;
  }
}

.under-line {
  z-index: 100;
  height: 52px;
  width: 290px;
  border-bottom: 1px solid black;
  background-color: white;

  @include respond-to('regular') {
    height: 90px;
    width: 485px;
  }

  @include respond-to('medium') {
    height: 105px;
    width: 587px;
  }
}

.sub-title {
  padding-top: 62px;
  font-size: 22px;

  @include respond-to('regular') {
    padding-top: 110px;
    font-size: 35px;
  }

  @include respond-to('medium') {
    padding-top: 125px;
    font-size: 45px;
  }
}

.lion {
  width: 320px;

  @include respond-to('regular') {
    width: 739.5px;
  }

  @include respond-to('medium') {
    width: 783px;
  }
}

.scroll {
  width: 36.5px;

  @include respond-to('regular') {
    width: 73px;
  }
}

.text {
  @include text;
}
